/******************************************************************************
UFO/STYLE.CSS
******************************************************************************/


/******************************************************************************
NAVIGATION
******************************************************************************/

.left_toggle {
    float: left;
    margin-left: 30px;
    background: #efd6f5;
}

.right_toggle {
    margin-right: 30px;
    background: #FAEBD7;
}

.nav_fixed {
    left: 0;
    z-index: 10;
    
    background-size: 100% auto;
    background-position: left bottom; 
    background-repeat: no-repeat;
}

.content_fixed {
    position: fixed;
    z-index: -10;
    width: 83%;
    height: 100%;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
}

@media (max-width: 768px) {
    .content_fixed {
        width: 100%;
    }
}


/***/
.menu_bottom {
    position: fixed;
    z-index: 1;
    height: 65px;
    width: 15.8%;
}
@media (max-width: 991px) {
    .menu_bottom {
        width: 24.5%;
    }
}
@media (max-width: 767px) {
    .menu_bottom {
        width: 99%;
    }
}


.menu_top {
    position: relative;
    z-index: 20;
    height: 65px;
}

.menu_manage {
    margin: 2px 2px 4px 2px;
    border: 2px solid #c571da;      /* mediumorchid */
    border-radius: 5px;
    box-shadow: 0 0 8px 1px #c571da, inset 0 0 8px 1px #c571da;
    
    padding: 6px !important;
    background-color: rgba(0, 0, 0, 0.65);
    color: aqua;
	transition: 500ms linear 0s;
}
.menu_manage:hover {
    border: 2px solid #ffa500;      /* orange */
    box-shadow: 0 0 8px 1px #ffa500, inset 0 0 8px 1px #ffa500;
    color: aqua;
}

.font_manage {
    padding: 1px;
    font-size: 90%;
    color: LightSkyBlue ;
    text-decoration: underline;
    cursor: pointer;
}

.inbox_parent {
    /* parent must have anim_bounce so children move together */
    position: absolute;
    z-index: 29;
    top: 0;
    right: 0;
    height: 20px;
}

.inbox_notify {
    position: absolute;
    z-index: 30;
    right: 15px;
    top: -5px;
    font-size: 140%;
    color: crimson;
}

.inbox_glow {
    position: absolute;
    z-index: 29;
    right: 20px;
    top: 0px;
    height: 10px;
    width: 10px;
    
    background: #ffccd5;
    box-shadow: 0 0 15px 11px #ffccd5;
    border-radius: 50%;
}

.menu_account {
    display: inline-block;
    width: 80%;
    height: 100%;
    min-height: 60px;
    
    margin-top: -20px;
    border: 2px solid #c571da;    
    box-shadow: 0 0 8px 1px #c571da, inset 0 0 8px 1px #c571da;
    border-top: 0px;
    border-radius: 15px;
    
    background-color:rgba(0, 0, 0, 0.65);
	transition: 500ms linear 0s;
    cursor: pointer;
}
.menu_account:hover {
    border-color: #ffa500;    
    box-shadow: 0 0 8px 1px #ffa500, inset 0 0 8px 1px #ffa500;
}
.menu_account:hover .font_account {
    color: #ffa500 !important;
}

.manage_tooltip {
    border: 2px solid #c571da;      /* mediumorchid */
    background: black;
    color: #c571da;
}

.font_account {
    padding: 20px 0px 2px 0px;
    color: #c571da;
	transition: 500ms linear 0s;
}

.menu_currencies {
    position: absolute;
    left: 110%;
    top: 0;
}

.format_currency {
    border-radius: 20px;
    /*background-color: #80b380;  /* DarkSeaGreen */
    background-color: #72b151;  
}

/***/
@media (min-width: 768px) {
    .navbar-fixed-side .dropdown .dropdown-menu {
        position: absolute;
        top: 0px; 
        left: 100%;
        display: none;
    }
    
    .navbar-fixed-side .dropdown:hover .dropdown-menu {
        /* make dropdown-menu appear when dropdown hover */
        display: block;
    }
}


.menu_item {
    display: block;
    margin: 2px 2px 8px 2px;
    padding: 6px !important;
    background-color: rgba(0, 0, 0, 0.65); ;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px white, inset 0 0 4px 1px white; 
	transition: 500ms linear 0s;
}

.menu_item:hover {
    border: 2px solid gold;
    box-shadow: 0 0 4px 1px gold, inset 0 0 4px 1px gold;
}

.menu_subItem, .menu_subItemL {
    display: block;
    margin: 4px;
    padding: 4px !important;
    border-bottom: 1px solid white;
}

.menu_subItemL {
    border-bottom: 0px !important;
}

.menu_dropdown {
    width: 90%;
    border: 2px solid white;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.7);
}

.dropdown:hover .menu_item {
    border: 2px solid gold;
    box-shadow: 0 0 4px 1px gold, inset 0 0 4px 1px gold;
    color: gold;
}

.menu_dropdown_admin {
    border: 2px solid pink !important;
}

.menu_item_admin {
    border: 2px solid pink ;
    box-shadow: 0 0 4px 1px pink, inset 0 0 4px 1px pink;
    color: pink !important;
}

.menu_subItem_admin {
    border-bottom: 1px solid pink;
    color: pink !important;
}

.dropdown:hover .menu_item_admin {
    border: 2px solid magenta;
    box-shadow: 0 0 4px 1px magenta, inset 0 0 4px 1px magenta;
    color: magenta !important;
}

.menu_font {
    font-family: 'AgencyFB', 'AgencyFB_IE' !important;
    font-size: 140%;
    font-weight: bolder;
	text-decoration: none !important;   /* stupid <a> */
    color: white; 
	transition: 400ms linear 0s;
}
.menu_font:hover {
    color: gold;
}

.menu_dropdown_admin .menu_font {
    color: pink !important;
}
.menu_dropdown_admin .menu_font:hover {
    color: magenta !important;
}

/***/
.logo_fixed {
    max-width: 110px;
    max-height: 110px;
}

@media (max-width: 992px) {
    .logo_fixed {
        max-width: 70px;
        max-height: 70px;
    }
}


/******************************************************************************
FORMAT GRID
******************************************************************************/

.outer_padding1 {
    padding: 8px 8px 8px 8px;      /* T R B L */
}

.inner_margin1 {
    margin: 8px;
    display: inline-block;  /* prevent margin from collapsing */
}

.outer_padding2 {
    padding: 4px;
}

.inner_margin2 {
    margin: 4px;
    display: inline-block;  /* prevent margin from collapsing */
}

.padding_dialog {
    padding: 0px 8px;
}

.format_separator {
    border-bottom: hidden !important;
    margin: 8px 8px 0px -4px;
}

.ctrl_separator {
    margin: 4px;
    border: none;
    height: 1px;
    background-color: #A9A9A9;
}


.display_block {
    display: block;
}

.display_table {
    display: table;
    border-collapse: collapse;
}

.display_row {
    display: table-row;
}

.display_cellM {
    display: table-cell;
    vertical-align: middle;
}

.display_cellT {
    display: table-cell;
    vertical-align: top;
}

.display_canvas {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.format_frame {
    border-width: 4px;
    border-style: ridge;
}

.format_outline {
    border: 1px solid black;    
}

.format_inside {
    border-color: darkgrey;
    border-style: solid;
    border-width: 1px;   /* T R B L */
}

.format_inside2 {
    border-color: darkgrey;
    border-style: solid;
    border-width: 2px;   /* T R B L */
}

.format_full {
    width: 100%; 
}



/******************************************************************************
FORMAT CUSTOMIZE
******************************************************************************/

.format_center {
    text-align: center;  /* works for block context text */
}

.display_center {
    margin: 0 auto;     /* works for position relative, etc */
}

.format_vertical {
    position: relative;
    top: 45%;
    transform: translateY(-50%);       /* works for position relative, etc */
}


.format_cpointer {
    cursor: pointer;
}

.format_fixline {
    /* used in jQuery DataTable */
    white-space: nowrap;
}

.format_button {
    /*  can't change background without unknown changes
        forced to restyle button entirely */
    padding: 2px 6px;
    border-radius: 4px;  
    border-color: #a6a6a6;
    color: black;
    cursor: pointer;
}

.format_button:hover {
    background: white; 
}

.format_button[disabled] {
    /* all disabled states */
    opacity: .6;
    background: inherit;     
}

.format_iconBtn {
    width: 28px;
    height: 28px;
    line-height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    background: white !important;
    text-align: center;
    cursor: pointer;    
}

.format_fileOpenButton {
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 4px 10px;
    background: WhiteSmoke;
    cursor: pointer;
}

.format_fileOpenButton:hover {
    box-shadow: 1px 1px 2px rgba(80, 92, 51, 0.17);
}



.format_disable {
    /* disable all of a div's content */
    opacity: .7;
    pointer-events: none;
}

.format_wait {
    opacity: .7;
    pointer-events: none;
    cursor: wait;
}

.format_highlight {
    background-color: #e1f0c1;  /* yellowgreen */
    background-origin: content-box; /* ? */
}


@media (min-width: 768px) {
    .format_extCol {
        /* used to extend a bootstrap col vertically */
        float: none;
        display: table-cell;
        vertical-align: middle;  
}}




/******************************************************************************
FONTS
******************************************************************************/

.font_default {
    font-family: Salsa, Salsa_IE;
    font-size: 160%;
}

@font-face {
    font-family: 'Salsa';
    src: url('fonts/salsa-v6.ttf');
}
@font-face {
    font-family: 'Salsa_IE';
    src: url('fonts/salsa-v6.eot');
}

@font-face {
    font-family: 'FrancoisOne';
    src: url('fonts/francois-one-v10.ttf');
}
@font-face {
    font-family: 'FrancoisOne_IE';
    src: url('fonts/francois-one-v10.eot');
}

@font-face {
    font-family: 'AgencyFB';
    src: url('fonts/AgencyFB.ttf');
}
@font-face {
    font-family: 'AgencyFB_IE';
    src: url('fonts/AgencyFB.eot');
}

/* */
.font_title {
    font-family: FrancoisOne, FrancoisOne_IE; 
    font-size: 220%;
    font-weight: bold;
    font-variant: small-caps;
    display: inline-block;  /* just like utility ctrl */
    padding: 8px 16px;
    line-height: 1;
}

.font_section {
    font-size: 160%;
    font-weight: bold;
    font-variant: small-caps;
    display: inline-block;  
    padding: 8px;
    white-space: nowrap;
    line-height: 1;
    font-family: FrancoisOne, FrancoisOne_IE; 
}

.font_strong {
    /* column title */
    display: block; 
    font-size: 115%;
    font-weight: bold;
}

.font_bold {
    /* used in jQuery DataTable, ctrl_text */
    font-weight: bold; 
}

.font_small {
    font-size: 85%;
}

.font_link {
    color: blue !important;
    text-decoration: underline;
    cursor: pointer;
}

.list_bullet {
    margin: 0px;
    list-style-type: disc;
    padding: 2px;
    padding-left: 30px;
}


/******************************************************************************
APP SPECIFIC
******************************************************************************/

.frame_header {
    background-color: rgba(240, 240, 245, 0.8); 
    border: 2px solid #e6c300;
    border-radius: 4px;
    box-shadow: 0 0 3px 0px #e6c300, inset 0 0 3px 0px #e6c300;    
}

.frame_entry {
    background-color: rgba(240, 240, 245, 0.8); 
    border: 1px solid white;
    border-radius: 4px;
}

.frame_editProf {
    background-color: BurlyWood;
    display: none;
}

.frame_admin {
    background-color: rgba(240, 240, 245, 0.8); 
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 0 2px 0px white, inset 0 0 2px 0px white;    
}

/***/

.format_overlay {
    /* parent must have position: relative */
    position: absolute;
    z-index: 10;
    width: 100%; height: 100%;
}

.store_parent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);       /* works for position relative, etc */
    margin: 0 auto;
    display: table;
    background: #e6c2ef;    /* medium orchid */
    border-radius: 4px;
}

.store_child {
    background: #e6c2ef;    /* medium orchid */
    margin: 4px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}


.chat_col1 {
    width: 25%;
}

.image_actualSize {
    max-width: 90%;
    max-height: 1080px;
}

.image_smallSize {
    max-width: 150px;
    max-height: 150px;
}

.image_smallSize2 {
    max-width: 200px;
    max-height: 200px;
}

.anim_rotate {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.anim_bounce {
    animation-name: bounce;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bounce {
    4.9% {
        transform:translateY(0);
    }
    5.0% {
        transform:translateY(-100%);
    }
    5.5% {
        transform:translateY(-100%);
    }
    6.5% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    8.0% {
      transform:translateY(-50%);
    }
    9.0% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    10.0% {
      transform:translateY(-30%);
    }
    12.0% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    13.0% {
      transform:translateY(-15%);
    }
    14.0% {
      transform:translateY(0%);
      padding-bottom: 8px;
    }
    14.5% {
      transform:translateY(-7%);
    }
    14.7% {
      transform:translateY(0%);
      padding-bottom: 9px;
    }
    14.9% {
      transform:translateY(-3%);
    }
    15.0% {
      transform:translateY(0);
      padding-bottom: 9px;
      opacity: 1;
    }
}



.anim_updown {
    animation-name: MoveUpDown;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes MoveUpDown {
  0% {
    transform:translateY(0%);
  }
  12% {
    transform:translateY(3%);
  }
  25% {
    transform:translateY(6%);
  }
  37% {
    transform:translateY(9%);
  }
  50% {
    transform:translateY(12%);
  }
  62% {
    transform:translateY(9%);
  }
  75% {
    transform:translateY(6%);
  }
  87% {
    transform:translateY(3%);
  }
  100% {
    transform:translateY(0%);
  }
}



/******************************************************************************
CURRENCIES
******************************************************************************/

.format_currIcon {
    width: 26px;
}

.font_tokens {
    font-family: monaco,Consolas,Lucida Console,monospace !important;
    color: #2f4f4f;     /* DarkSlateGray; */
    font-weight: bold;
}

.font_diamond {
    font-family: 'nintender' !important;
    color: #000066;     /* darkblue */
}
@font-face {
    font-family: 'nintender';
    src: url('fonts/nintender.ttf');
}

.font_dollar {
    font-family: 'dollar_bill' !important;
    font-style: italic;
}
@font-face {
    font-family: 'dollar_bill';
    src: url('fonts/dollar_bill.ttf');
}


/***/
.currency_zindex2 {
    position: absolute;  /* necessary for z-index and overlay */
    z-index: 2;
    top: 0;
}

.currency_zindex1 {
    position: absolute;
    z-index: 1;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.currency_diamondIcon {
    padding: 4px;
    background: #efd6f5;
}

.currency_diamond {
    padding-top: 10%;
    font-size: 20px;
    color: #00cccc;
}

.currency_diamondText {
    padding: 4px;
    background: linear-gradient(to right, #efd6f5, #f2f2f2);
    font-size: 120%;
    white-space: nowrap;
}
.currency_tokenIcon {
    padding: 4px;
    background: #cce6ff;
}

.currency_token {
    padding-top: 10%;
    font-size: 20px;
    color: brown;
}

.currency_tokenText {
    padding: 4px;
    background: linear-gradient(to right, #cce6ff, #f2f2f2);
    font-size: 122%;
    white-space: nowrap;
}



/******************************************************************************
JQUERY OVERRIDES
******************************************************************************/

.noCloseButton .ui-dialog-titlebar-close {
    display: none;
}

.accumulatorStyles {
    background: limegreen !important;
    border: 0px solid black !important;
    margin: 0px !important;
}


.ui-tooltip-content {
    /* affects all $.tooltip */
    font-family: Salsa !important;
    font-size: 13pt;
}

.fa-input {
    font-family: FontAwesome, Impact;
}

.fc-today-button {
    display: none;
}

.fc-toolbar {
    margin-bottom: 8px !important;
    font-size: 18px !important;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    /* jquery-ui, sets font of form.label in template */
    font-family: Salsa, Salsa_IE;
    font-size: 16px !important;
}

table.dataTable thead th {
    padding: 10px 10px;
}

/***/
.audiojs, .audiojs p {
    width: 38px;
    border: none;
}

.audiojs .play-pause {
    width: auto;
}

.scrubber {
    display: none;
}

.time {
    display: none;
}

#recaptcha_area {
    /* center the ma'fack */
    display: table;
    margin: auto;
}

/******************************************************************************
BOOTSTRAP OVERRIDES
******************************************************************************/

label {
    font-weight: inherit;
}

.navbar {
    margin-bottom: initial;
    border: 0px;
    border-radius: 0;
}

.navbar-default {
    /* used in collapse menu */
    background-color: inherit;
}

.navbar-collapse {
    padding: 0;
}

.navbar-fixed-side {
    overflow: visible;
    margin: 0;
}

.navbar-fixed-side .navbar-nav {
    margin: 0;
}

.navbar-fixed-side .navbar-collapse {
    border: 0;
}

.dropdown-menu {
    padding: 0;
    border-radius: 0px;
}

.navbar-fixed-side .navbar-nav .dropdown-menu {
    border: none;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: auto;
    /* TODO affects inside of pages */
}

.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2,
.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2,
.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2,
.col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2
{
    padding: 0;
}


/******************************************************************************
END OF FILE
******************************************************************************/