<!DOCTYPE html>

{% load staticfiles %}
{% load utility_ttags %}


<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap: The above 3 meta tags *must* come first in the head -->
    
    <script src=" {% static 'third_party/jQuery/jquery-3.2.1.min.js' %}"></script>
    <link   href="{% static 'third_party/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src=" {% static 'third_party/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <link   href="{% static 'third_party/bootstrap-extra/navbar-fixed-side.css' %}" rel="stylesheet">
    <link   href="{% static 'third_party/bootstrap-extra/bootstrap-xl-xxl.css' %}" rel="stylesheet">
    
    <script src="{% static 'third_party/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link   href="{% static 'third_party/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" />
    <link   href="{% static 'third_party/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" />
    
    <!-- Bootstrap: put custom css after bootstrap.css so custom styles override -->
    <link   href="{% static 'style.css' %}?{% now 'U' %}" rel="stylesheet" /> 
    <script src="{% static 'utility.js' %}?{% now 'U' %}"></script>
    
    <title>Lige Ma</title>
    
    {% block extra_head %}
    {% endblock %}
</head>


<body class="font_default" style="background-color: #241f47; /* darkslateblue */" >
    
    <div id="visible_area" class="container-fluid" style="">
        <div class="row">
            
            <div id="content_area" class="col-xs-12" style="back ground: white;">
                
                <div id="content_block" class="content_fixed" style="
                        background-image: url({{ bkgdPath }});">
                </div>
                
                <div class="display_block outer_padding1" style="">
                    
                    {% block content %}
                    <div class="row">
                        <div class="inner_margin1">
                            No content included.
                        </div>
                    </div>
                    {% endblock content %}
                    <div class="row" style="min-height: 60px;">
                        {% ctrl_status "error" %}            
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
    <div id="dialog_holder" comment="used by auth dialogs"></div>
    
    <div id="error_dialog" title="Error">
        <div class="format_full format_center" style="padding: 10px 4px;">
            {% ctrl_normal "errorMsg" %} 
        </div>
        <div class="display_table format_full">
            <div class="display_row">
                <div class="display_cellM format_center" style="width: 50%;">
                <div class="inner_margin2">
                    <i id="error_icon" class="fa fa-times-circle-o fa-2x" style="color: crimson;"></i>
                </div>
                </div>
                <div class="display_cellM format_center">
                    {% ctrl_button "errorOk" "Close" %}
                </div>
            </div>
        </div>
    </div>
    
    
</body>


<script>


$(function() {

    MakeDialog('#error_dialog', "auto", false);
    $('#errorOk_button').click(function() {  
        $("#error_dialog").dialog("close");
    });    
    
});


</script>


</html>

