
{% extends "common_base.html" %}
{% load staticfiles %}
{% load utility_ttags %}

{% block content %}


<style>

.font_greenTitle {
    font-family: 'agencyFB' !important;
    font-variant: small-caps;
    font-weight: bold;
    color: #00e600;     /* limegreen */
    line-height: 1;
    font-size: 450%;
}    

</style>


<div id="_section" class="row">
    <div class="col-xs-12">
        <div class="format_center" style="height: 90vh;">
            <div  class="format_vertical">
                <span class="font_greenTitle">Page Not Found</span>
            </div>
        </div>
    </div>
</div>


<script>

$(document).ready(function()
{   
    
});

</script>

{% endblock content %}





