
{% extends "common_base.html" %}
{% load utility_ttags %}

{% block content %}


<div class="row">

    <div class="col-xs-12">
        <div class="inner_margin1 frame_header">
            <span class="font_section">Reset Password</span>
        </div>
        <div style="display: none;">{% ctrl_status "confirm" %}</div>
    </div>
    
    <div class="col-xs-12 col-lg-4">
        <div class="display_block inner_margin1 outer_padding2 frame_entry" style="min-height: 90px;">
            
            {% if user.is_authenticated %}
            
            <span class="inner_margin2">
                User is already logged in. <br>
                The password can be changed in the "Profile" page.
            </span>
            
            {% elif token_fail %}
            
            <span class="inner_margin2">
                The password reset link is invalid because it has already been used.
            </span>
            
            {% else %}
            
            <span class="inner_margin2">
                Reset password for user <b>{{ form.user }}</b>.
            </span>
            
            <form id="resetPwKey_form" method="POST" action="*">
                {% csrf_token %}
                
                <div class="display_table">
                    <div class="display_row">
                        <div class="display_cellM">
                            <label class="inner_margin2 format_fixline">New Password:</label>
                        </div>
                        <div class="display_cellM">
                            <div class="inner_margin2">
                                {{ form.password1 }}  
                            </div>
                        </div>
                    </div>
                    <div class="display_row">
                        <div class="display_cellM">
                            <label class="inner_margin2 format_fixline">New Password:</label>
                        </div>
                        <div class="display_cellM">
                            <div class="inner_margin2">
                                {{ form.password2 }}  
                            </div>
                        </div>
                    </div>
                </div>
                     
                <div class="display_table">
                    <div class="display_row">
                        <div class="display_cellM format_full">
                            {% ctrl_status "reset" %}
                        </div>
                        <div class="display_cellM">
                            <div class="inner_margin2 format_center">
                                <input type="submit" value="Reset Password" class="format_button"/>
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
            
            {% endif %}
        </div>
        
        <div class="col-xs-12">
            <br>
            {% ctrl_image "logo" "image_smallSize format_frame" "/static/graphics/logo_small.png" %}
            <br>
        </div>
    
    </div>
    
</div>


<!-- SCRIPTS -->


<script>

$(document).ready(function()
{      
    
});


$("#resetPwKey_form").submit(function(p_event) {
    // this stops the normal html-form-submit call stack
    p_event.preventDefault();
    
    var formData = $('#resetPwKey_form :input').serializeArray();    cl(formData);
    $('#resetPwKey_form :input').prop('disabled', true);
    $('#reset_status').text("");
    
    $.ajax({
        type: 'post',
        url: '{% url "account_reset_password_from_key" form.uidb form.temp_key %}',
        data: formData,
        success: function(p_data) {     //cl(p_data);
            $('#reset_status').text("Password has been changed. You may now log in.");
        },
        error: function(p_err) {
            try
            {
                var obj = JSON.parse(p_err.responseText);
                ResetPwKeyError(obj);
            }
            catch(ex)
            {
                var msg = "resetPwKey_form.submit()" + "<br>" + DjangoSubError(p_err.responseText);
                if (msg.length < p_err.responseText.length)
                    $("#reset_status").html(msg);
                else
                    $("#reset_status").text(msg);
            }
        },
    });
    
    function ResetPwKeyError(p_obj)
    {
        var errors = p_obj['form_errors']; 
        var returnedHtml = p_obj['html'];
        
        var msg = "Uninitialized Error";
        
        if (errors.hasOwnProperty('__all__'))
            msg = errors.__all__[0];
        
        else if (errors.hasOwnProperty('password1'))
            msg = "Password 1: " + errors.password1[0];
            
        else if (errors.hasOwnProperty('password2'))
            msg = "Password 2: " + errors.password2[0];
        
        $('#reset_status').text(msg);
        $('#resetPwKey_form :input').prop('disabled', false);
    }
    
});


</script>

{% endblock content %}





